body {
    background-color: #222831;
}

img {
    max-width: 50vw;
    max-height: 25vw;
    display: block;
    margin: auto;
}


.judul
{
    text-align: center;
    background-color: #481E14;
    color: #F2613F;
}



